# Скопируйте файл в .env.test и заполните пустые значения.
# Makefile сам соберет TEST_DATABASE_URI и TEST_QUEUE_URL из этих значений.

GOPH_PROFILE_TEST_POSTGRES_DB=gophprofile_test
GOPH_PROFILE_TEST_POSTGRES_USER=
GOPH_PROFILE_TEST_POSTGRES_PASSWORD=

GOPH_PROFILE_TEST_MINIO_ROOT_USER=
GOPH_PROFILE_TEST_MINIO_ROOT_PASSWORD=

GOPH_PROFILE_TEST_RABBITMQ_USER=
GOPH_PROFILE_TEST_RABBITMQ_PASSWORD=
