GOPH_PROFILE_DOCKER_UID=1000
GOPH_PROFILE_DOCKER_GID=1000

GOPH_PROFILE_POSTGRES_DB=gophprofile
GOPH_PROFILE_POSTGRES_USER=
GOPH_PROFILE_POSTGRES_PASSWORD=
GOPH_PROFILE_DATABASE_URI=

GOPH_PROFILE_MINIO_ROOT_USER=
GOPH_PROFILE_MINIO_ROOT_PASSWORD=

GOPH_PROFILE_RABBITMQ_USER=
GOPH_PROFILE_RABBITMQ_PASSWORD=
GOPH_PROFILE_QUEUE_URL=
