# IDE directory
.idea/

# Temp directory for tests
.tmp/

# Dependency directories
vendor/

# Output of the go coverage tool
*.out

# Sensitive data
.env
.env.test
config/migrate.local.yaml
config/server.local.yaml
config/worker.local.yaml
helm/goph-profile/values.secret.yaml
